<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Estore 23</title>
<!-- // Stylesheet // -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/ddsmoothmenu.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.1.css" media="screen" />
<!-- // Javascript // -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
<script type="text/javascript" src="js/bannercontentslider.js"></script>
<script type="text/javascript" src="js/ddaccordion.js"></script>
<script type="text/javascript" src="js/acordin.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.1.js"></script>
<script type="text/javascript" src="js/scroll.js"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/Tahoma_400-Tahoma_700.font.js"></script>
<script type="text/javascript">Cufon.replace('h1, h2, h3, h4, h5, h6, .cufontxt');</script>
<script type="text/javascript" src="js/jquery.fancybox-1.3.1.js"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<script type="text/javascript" src="js/prodscroller.js"></script>
<script type="text/javascript" src="js/tabs.js"></script>
</head>
<body>
<div id="wrapper_sec">
	<div class="inner">
    	<!-- Header -->
        <div id="masthead">
        	<div class="topsec">
            	<ul class="links">
                	<li class="bold first">Default welcome msg!</li>
                    <li><a href="account.html">My Account</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="cart.html">My Cart</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li><a href="login.html">Log In</a></li>
                </ul>
                <ul class="lang">
                	<li>Language:</li>
                	<li><a href="#"><img src="images/flag1.gif" alt="" /></a></li>
                    <li><a href="#"><img src="images/flag2.gif" alt="" /></a></li>
                </ul>
            </div>
            <div class="logosec">
            	<div class="logo">
                	<a href="index-2.html"><img src="images/logo.png" alt="" /></a>
                    <h5>World of Fragrance</h5>
                </div>
                <div class="cartsec cufontxt">
                	<span class="items white">00</span> items for a total of <span class="itemsprice white">$0.00</span>
                </div>
            </div>
            <div class="navigation">
            	<div id="smoothmenu1" class="ddsmoothmenu">
                    <ul>
                        <li><a href="index-2.html" class="cufontxt upper">Home</a></li>
                        <li><a href="categories.html" class="cufontxt upper">Men's</a></li>
                        <li><a href="categories.html" class="cufontxt upper">Women's</a>
                            <ul>
                            	<li><a href="#">Who we are</a>
                                    <ul>
                                        <li><a href="listing.html">Introduction</a></li>
                                        <li><a href="listing.html">Who we are</a></li>
                                        <li><a href="listing.html">Where we work</a></li>
                                        <li><a href="listing.html">Our Team</a></li>
                                        <li><a href="listing.html">Careers</a></li>
                                    </ul>
                                </li>
                                <li><a href="listing.html">Introduction</a></li>
                                <li><a href="listing.html">Where we work</a></li>
                                <li><a href="listing.html">Our Team</a></li>
                                <li><a href="listing.html">Careers</a></li>
                            </ul>
                        </li>
                        <li><a href="cart.html" class="cufontxt upper">Cart</a></li>
                        <li><a href="#" class="cufontxt upper">Pages</a>
                            <ul>
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="categories.html">Categories</a></li>
                                <li><a href="listing.html">Listing</a></li>
                                <li><a href="prod_detail.html">Product Detail</a></li>
                                <li><a href="cart.html">Shopping Cart</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="account.html">Customer Account</a></li>
                                <li><a href="static.html">Static</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="cufontxt upper">Themes</a>
                            <ul>
                                <li><a href="index-2.html">Grey</a></li>
                                <li><a href="http://chimpstudio.co.uk/themeforest/estore23/cyan/index.html">Cyan</a></li>
                                <li><a href="http://chimpstudio.co.uk/themeforest/estore23/brown/index.html">Brown</a></li>
                                <li><a href="http://chimpstudio.co.uk/themeforest/estore23/green/index.html">Green</a></li>
                            </ul>
                        </li>
                    </ul>
                <div class="clear"></div>
                </div>
            	<div class="search">
                	<input type="text" value="Enter keyword to search" id="searchBox" name="s" onblur="if(this.value == '') { this.value = 'Enter keyword to search'; }" onfocus="if(this.value == 'Enter keyword to search') { this.value = ''; }" class="bar" />
            		<a href="#" class="buttonone">Search</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- Bread Crumb -->
    <div class="inner">
        <div id="crumb">
        	<ul>
            	<li class="txt">You are here</li>
                <li><a href="index-2.html">Home</a></li>
                <li><a href="static.html">About Us</a></li>
                <li><a href="#" class="last">Introduction</a></li>
            </ul>
        </div>
    </div>
    <!-- Content Section -->
    <div class="inner">
    	<div id="content_sec">
        	<!-- Column 1 -->
        	<div class="col1">
            	<!-- My Cart -->
                <div class="mycart">
                	<h5 class="small_head">My Cart</h5>
                    <p class="txt">There are <a href="#" class="bold under">3 items</a> in your cart.</p>
                    <p class="txt">Cart Subtotal: <span class="bold">$899.97</span></p>
                    <a href="#" class="buttonone checkout">Checkout</a>
                    <div class="clear"></div>
                    <ul>
                    	<li>
                        	<a href="#" class="title">Open Perfume</a>
                            <a href="#" class="cross">&nbsp;</a>
                            <div class="clear"></div>
                            <p class="qty">QTY: 2</p>
                            <p class="price">Price: <span class="bold">$200</span></p>
                        </li>
                        <li class="withbg">
                        	<a href="#" class="title">Open Perfume</a>
                            <a href="#" class="cross">&nbsp;</a>
                            <div class="clear"></div>
                            <p class="qty">QTY: 2</p>
                            <p class="price">Price: <span class="bold">$200</span></p>
                        </li>
                        <li>
                        	<a href="#" class="title">Open Perfume</a>
                            <a href="#" class="cross">&nbsp;</a>
                            <div class="clear"></div>
                            <p class="qty">QTY: 2</p>
                            <p class="price">Price: <span class="bold">$200</span></p>
                        </li>
                        <li class="withbg">
                        	<a href="#" class="title">Open Perfume</a>
                            <a href="#" class="cross">&nbsp;</a>
                            <div class="clear"></div>
                            <p class="qty">QTY: 2</p>
                            <p class="price">Price: <span class="bold">$200</span></p>
                        </li>
                    </ul>
                </div>
                <!-- Compare Products -->
                <div class="compare">
                	<h5 class="small_head">Compare Products</h5>
                    <ul>
                    	<li>
                        	<a href="prod_detail.html" class="title">Lorem ipsum dolor sit amet</a>
                            <a href="#" class="cross">&nbsp;</a>
                        </li>
                        <li>
                        	<a href="prod_detail.html" class="title">Lorem ipsum dolor sit amet</a>
                            <a href="#" class="cross">&nbsp;</a>
                        </li>
                        <li>
                        	<a href="prod_detail.html" class="title">Lorem ipsum dolor sit amet</a>
                            <a href="#" class="cross">&nbsp;</a>
                        </li>
                        <li>
                        	<a href="prod_detail.html" class="title">Lorem ipsum dolor sit amet</a>
                            <a href="#" class="cross">&nbsp;</a>
                        </li>
                    </ul>
                    <a href="#" class="buttonone right">Compare</a>
                </div>
                <!-- Community Poll -->
                <div class="com_pol">
                	<h5 class="small_head">Community Poll</h5>
                    <p class="wht">What is your favorite feature?</p>
                    <ul>
                    	<li><input type="radio" value="" /> Layered Navigation</li>
                        <li><input type="radio" value="" /> Price Rules</li>
                        <li><input type="radio" value="" /> Category Management</li>
                        <li><input type="radio" value="" /> Compare Products</li>
                    </ul>
                    <a href="#" class="buttonone left">Vote</a>
                </div>
            </div>
            <!-- Column 2 -->
        	<div class="col2">
            	<!-- My Account -->
            	<div class="account">
                	<h2 class="heading colr">Dashboard</h2>
                    <ul class="account_links">
                        <li><a href="#" class="selected">Account Home</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Wishlist</a></li>
                    	<li><a href="#">Logout</a></li>
                    </ul>
                    <div class="hello">
                    	<h6 class="black">Hello John!</h6>
                        <p>
                        	From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information.
Select a link below to view or edit information.
                        </p>
                    </div>
                    <div class="recentorders">
                    	<h5 class="colr">Recent Orders</h5>
                        <div class="account_table">
                            <ul class="headtable">
                                <li class="order">Order</li>
                                <li class="date">Date</li>
                                <li class="ship">Ship to</li>
                                <li class="ordertotal">Order Total</li>
                                <li class="status">Status</li>
                                <li class="action nobordr">&nbsp;</li>
                            </ul>
                            <ul class="contable">
                                <li class="order">5</li>
                                <li class="date">16/10/2010</li>
                                <li class="ship">John</li>
                                <li class="ordertotal">$ 35.9</li>
                                <li class="status">Shiped</li>
                                <li class="action nobordr"><a href="#" class="first">View</a><a href="#">Edit</a></li>
                            </ul>
                            <ul class="contable">
                                <li class="order">2</li>
                                <li class="date">05/10/2010</li>
                                <li class="ship">John</li>
                                <li class="ordertotal">$ 35.9</li>
                                <li class="status">Completed</li>
                                <li class="action nobordr"><a href="#" class="first">View</a><a href="#">Edit</a></li>
                            </ul>
                            <ul class="contable">
                                <li class="order">1</li>
                                <li class="date">02/10/2010</li>
                                <li class="ship">John</li>
                                <li class="ordertotal">$ 35.9</li>
                                <li class="status">Completed</li>
                                <li class="action nobordr"><a href="#" class="first">View</a><a href="#">Edit</a></li>
                            </ul>
                            <ul class="contable">
                                <li class="order">12</li>
                                <li class="date">16/02/2010</li>
                                <li class="ship">John</li>
                                <li class="ordertotal">$ 35.9</li>
                                <li class="status">Shiped</li>
                                <li class="action nobordr"><a href="#" class="first">View</a><a href="#">Edit</a></li>
                            </ul>
                            <ul class="contable">
                                <li class="order">7</li>
                                <li class="date">01/01/2010</li>
                                <li class="ship">John</li>
                                <li class="ordertotal">$ 35.9</li>
                                <li class="status">Completed</li>
                                <li class="action nobordr"><a href="#" class="first">View</a><a href="#">Edit</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <!-- Account Sections -->
                    <div class="sections">
                    	<div class="sec">
                        	<div class="sechead">
                            	<h6>Contact Information</h6>
                                <a href="#">Edit</a>
                            </div>
                            <div class="clear"></div>
                            <div class="txtsection">
                            	<a href="#">Jhon</a><br />
                                <a href="#">john@website.com</a><br />
                                <a href="#">Change Password</a><br />
                            </div>
                        </div>
                        <div class="sec secbordr">
                        	<div class="sechead">
                            	<h6>Newsletters</h6>
                                <a href="#">Edit</a>
                            </div>
                            <div class="clear"></div>
                            <div class="txtsection">
                            	You are currently not subscribed to any newsletter. 
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!-- Account Sections -->
                    <div class="sections">
                    	<div class="sec">
                        	<div class="sechead">
                            	<h6>Address Book</h6>
                                <a href="#">Edit</a>
                            </div>
                            <div class="clear"></div>
                            <div class="txtsection">
                            	<p>
                                	<span class="bold">Default Billing Address</span><br />
                                    You have not set a default billing address.<br />
                                    <a href="#">Edit Address</a>
                                </p>
                            </div>
                        </div>
                        <div class="sec secbordr">
                        	<div class="sechead">
                            	<h6>Newsletters</h6>
                                <a href="#">Edit</a>
                            </div>
                            <div class="clear"></div>
                            <div class="txtsection">
                            	<p>
                                	<span class="bold">Default Billing Address</span><br />
                                    You have not set a default billing address.<br />
                                    <a href="#">Edit Address</a>
                                </p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="clear"></div>
                    <div class="view_tags">
                    	<div class="viewssec">
                        	<h4 class="heading colr">Recent Views</h4>
                            <ul>
                            	<li>
                                	<h6 class="title">Product Name</h6>
                                    <div class="clear"></div>
                                    <div class="rating">
                                    	<a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star_rol.gif" alt="" /></a>
                                    </div>
                                </li>
                                <li>
                                	<h6 class="title">Product Name</h6>
                                    <div class="clear"></div>
                                    <div class="rating">
                                    	<a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star_rol.gif" alt="" /></a>
                                    </div>
                                </li>
                                <li>
                                	<h6 class="title">Product Name</h6>
                                    <div class="clear"></div>
                                    <div class="rating">
                                    	<a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star_rol.gif" alt="" /></a>
                                    </div>
                                </li>
                                <li>
                                	<h6 class="title">Product Name</h6>
                                    <div class="clear"></div>
                                    <div class="rating">
                                    	<a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star.gif" alt="" /></a>
                                        <a href="#"><img src="images/star_rol.gif" alt="" /></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tagssec">
                        	<h4 class="heading colr">My Recent Tags</h4>
                            <ul>
                            	<li>
                                	<h6 class="title">Product Name</h6>
                                    <div class="clear"></div>
                                    <p>Tags:</p>
                                    <a href="#">Leatehr Bags, </a>
                                    <a href="#">Bags, </a>
                                    <a href="#">Laptop Bags</a>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                	<h6 class="title">Product Name</h6>
                                    <div class="clear"></div>
                                    <p>Tags:</p>
                                    <a href="#">Leatehr Bags, </a>
                                    <a href="#">Bags, </a>
                                    <a href="#">Laptop Bags</a>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                	<h6 class="title">Product Name</h6>
                                    <div class="clear"></div>
                                    <p>Tags:</p>
                                    <a href="#">Leatehr Bags, </a>
                                    <a href="#">Bags, </a>
                                    <a href="#">Laptop Bags</a>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                	<h6 class="title">Product Name</h6>
                                    <div class="clear"></div>
                                    <p>Tags:</p>
                                    <a href="#">Leatehr Bags, </a>
                                    <a href="#">Bags, </a>
                                    <a href="#">Laptop Bags</a>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- Footer -->
    <div id="footer">
    	<div class="inner">
        	<!-- Footer Top Section -->
            <div class="footer_top">
            	<!-- Newsletter Submission -->
            	<div class="newsletter">
                	<h4>Newsletter Signup</h4>
                    <ul>
                    	<li>
                        	<input type="text" value="Signup for Newsletter" id="newsBox" name="s" onblur="if(this.value == '') { this.value = 'Signup for Newsletter'; }" onfocus="if(this.value == 'Signup for Newsletter') { this.value = ''; }" class="bar" />
            			</li>
                        <li class="right"><a href="#" class="searchbtn buttonone">Signup</a></li>
                    </ul>
                </div>
                <!-- Credit Cards -->
                <div class="creditcards">
                    <h4>We Accept</h4>
                    <ul>
                    	<li><a href="#"><img src="images/creditcard1.gif" alt="" /></a></li>
                        <li><a href="#"><img src="images/creditcard2.gif" alt="" /></a></li>
                        <li><a href="#"><img src="images/creditcard3.gif" alt="" /></a></li>
                        <li><a href="#"><img src="images/creditcard4.gif" alt="" /></a></li>
                        <li><a href="#"><img src="images/creditcard5.gif" alt="" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <div class="footer_sec">
            	<div class="company">
                	<h4>Company</h4>
                    <ul>
                    	<li><a href="static.html">About Us</a></li>
                        <li><a href="static.html">Customer Service</a></li>
                        <li><a href="static.html">Terms &amp; Conditions</a></li>
                        <li><a href="static.html">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="customcare">
                	<h4>Customer Care</h4>
                    <ul>
                    	<li><a href="static.html">Refund Policy</a></li>
                        <li><a href="static.html">Delivery Info</a></li>
                        <li><a href="static.html">Shipping Charges</a></li>
                        <li><a href="static.html">Store Locator</a></li>
                    </ul>
                </div>
                <div class="community">
                	<h4>Community</h4>
                    <ul>
                    	<li><a href="#"><img src="images/foot_icon1.gif" alt="" /> YouTube</a></li>
                        <li><a href="#"><img src="images/foot_icon2.gif" alt="" /> Facebook</a></li>
                        <li><a href="#"><img src="images/foot_icon3.gif" alt="" /> RSS Feeds</a></li>
                        <li><a href="#"><img src="images/foot_icon4.gif" alt="" /> From the Blog</a></li>
                    </ul>
                </div>
                <div class="footlogo">
                	<a href="index-2.html" class="small_logo"><img src="images/logo.png" alt="" /></a>
                    <h6>World of Fragrance</h6>
                </div>
                <div class="clear"></div>
                <div class="copyrights">
                	<p>Copyright © 2010-2011 <a href="http://adf.ly/13ptF" target="_blank">RT Production</a> | All Rights Reserved</p>
                    <a href="#" class="top">Top</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>

</html>