<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="QLNS.Properties.Settings.QLNSConnectionString" connectionString="data source=C:\Users\nXqd\QLNS.db" providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>